version: "3.8"

services:
    test_db:
        image: postgres:15.3
        ports:
            - "5433:5432"
        environment:
            - POSTGRES_USER=${TEST_POSTGRES_USER}
            - POSTGRES_PASSWORD=${TEST_POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_TEST_DB}
        command: ["postgres", "-c", "log_statement=all"] # docker compose logs postgres (тут будут логи)
